.resetinput{ 
width:95%;border:none;outline:none;float:left;text-align:left;
}
.parent-resetinput{ 
background:#fff;width:100%;padding: 6px 8px; border: 1px solid #DBDBEA; border-radius:4px; -moz-border-radius:4px
}